<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body background ="../purple.jpg">
 <div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Well Done !</strong> You'd save your client succesfully
</div>


<ul>
    <font color ="#f0ffff">

        <li> Name : ${Name}</li><br>
        <li>Address : ${Address}</li><br>
        <li>DOB : ${DOBs}</li>

    </font>
</ul>
<ul class="pager">
  <li class="previous"><a  href="../index.html">Home</a></li>
</ul>


</body>
</html><!-- Optional theme -->


	