<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body background ="../purple.jpg">
<h3><font color ="#f0ffff"> Client's Information </font></h3>
<ul>
    <font color ="#f0ffff">

        <li> Name : ${name}</li><br>
        <li>Address : ${ad}</li><br>
        <li>DOB : ${DOB}</li>

    </font>
</ul>
<ul class="pager">
  <li class="previous"><a  href="../index.html">Home</a></li>
</ul>


</body>
</html><!-- Optional theme -->


