<!DOCTYPE html>
<head>
    <title>Enter your client's information </title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<html>

<body background="../purple.jpg">
<h3><font color="#f0ffff"> Please insert your Client's information </font></h3>


  </div><!-- /.col-lg-6 -->

    <form action="../cgi-bin/save.py"  method="POST">
        <div class="col-lg-2">
        <input type="text" class="form-control" placeholder="Username" name="name">
        <input type="text" class="form-control" placeholder="Address" name ="ad">
        <input type="text" class="form-control" placeholder="DOB  YYYY-MM-DD" name="DOB">
        <h3>wfaFeFFF</h3>
        </div>
        <p></p><input class="btn btn-inverse"  type=submit value="Select">

    </form>

<ul class="pager">
  <li class="previous"><a  href="../index.html">Home</a></li>
</ul>
</body>
</html>